@import 'macro-css';

body{
  margin: 0;
  font-family:'inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.product{
  display: block;
  margin: auto;
}
button, input{
  font-family:'inter', system-ui;

}
.wrapper{
  background: #fff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}
header{
  border-bottom: 1px solid #eaeaea;
  ul{
    list-style-type: none;
  }
  img{
    margin-right: 15px;
  }

  h3, p{
    margin: 0;
    }
  }
.content{
  h1{
    margin: 0;
  }
}


.button{
  background: #fff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius:8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.serch-block{
  border: 1px solid #f3f3f3;
  border-radius:10px;
  padding: 0 15px;
  position: relative;

  .clear {
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    top: 14px;
    right: 15px;
  }

  input{
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.cartTotalBlock{
    margin-bottom: 20px;
  li{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    div{
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
    }
  }
}

.greenButton{
position:relative;
width: 100%;
height: 55px;
border-radius: 18px;
overflow: hidden;
border: 0;
color: #fff;
font-size: 16px;
font-weight: 500;
background: #9dd558;
cursor: pointer;
transition: background 0.2s ease-in-out;
&:hover {
  background: lighten(#9dd558, 8%);
  }
&:active{
    background: darken(#9dd558, 8%);
  }
  img{
    position: absolute;
    right: 40px;
    top: 22px;
    transition: transform 0.2s ease-in-out;
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius:20px;
  overflow: hidden;
  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left: 10px;

  }

  p{
      font-size: 12px;
  }
  b{
    font-size: 14px;
  }
  .removeBtn{
    margin-right: 10px;
    opacity: 0.5;
    cursor: pointer;
    transition: opasity 0.15s ease-in-out;
    &:hover{
    opacity: 1;
    }
  }
}